# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Throughout this notebook commonly used programming languages in the Data Science world will shown
- Popular libraries utilized by Data Scientist are seen
- A list of Tools that are commonly used in the Data Science world will be displayed

Some of the most popular languages that Data Scientist use are:
1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
1. Pytorch
1. TensorFlow

| Data Science Tool |
|:-----------------|
| GitHub |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
a = (3*4)+5
#This a simple arithmetic expression to mutiply then add integers
print(a)

17

In [4]:
min_hr = 200/60
#This will convert 200 minutes to hours by diving by 60
print(min_hr,'hours')

3.3333333333333335 hours

## Author
John Rivera